* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* common styles */
body {
  background: rgb(245, 248, 255);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

:root {
  --title-color: #000000;
  --pharagraph-color: rgba(0, 0, 0, 0.502);
  --orange-color: #e95a08;
  --white-color: #ffffff;
  --title-font-family: 'Noto Serif', serif;
  --body-font-family: 'Inter', sans-serif;
}

.heading {
  margin-bottom: 50px;
}
.heading .title {
  font-family: var(--title-font-family);
  color: var(--title-color);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.heading .title span {
  color: var(--orange-color);
}
.heading .description {
  color: var(--pharagraph-color);
  font-family: var(--body-font-family);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  padding: 0 120px;
}

/* =============== */

/* header styles */
header {
  margin: 20px 0;
}

header nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar .menu {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}
header nav .navbar .menu li a {
  color: rgb(137, 135, 161);
  font-family: var(--body-font-family);
  font-size: 1rem;
  font-weight: 400;
  transition: 0.4s;
}
header nav .navbar .menu li a:hover {
  color: #252432;
  font-weight: 700;
}
/* ============================= */

/* banner section styles */
#banner-part {
  margin: 100px 0;
}
#banner-part .banner-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#banner-part .banner-content .left {
  flex: 1;
}
#banner-part .banner-content .left h1 {
  font-family: var(--title-font-family);
  color: var(--title-color);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 15px;
}
#banner-part .banner-content .left h1 span {
  color: var(--orange-color);
}
#banner-part .banner-content .left p {
  color: var(--pharagraph-color);
  font-family: var(--body-font-family);
  font-size: 1.4rem;
  font-weight: 400;
}
#banner-part .banner-content .right {
  flex: 1;
}
#banner-part .banner-content .right img {
  width: 100%;
}
/* =========================== */

/* Plants Section styles */
#plants-part {
  margin: 100px 0;
}
#plants-part .plants-content .plants-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

#plants-part .plants-list .plant-item img {
  width: 100%;
}
#plants-part .plants-list .plant-item:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0 0 10px #ddd;
}
#plants-part .plants-list .plant-item .item-details {
  text-align: center;
  margin-top: 20px;
}
#plants-part .plants-list .plant-item .item-details h3 {
  color: #111111;
  font-family: var(--body-font-family);
  font-size: 1.4rem;
  font-weight: 500;
}
#plants-part .plants-list .plant-item .item-details p {
  color: #111111;
  font-family: var(--body-font-family);
  font-size: 1.4rem;
  font-weight: 700;
  margin: 10px 0;
}
#plants-part .plants-content .plants-list .plant-item .btn {
  background: var(--orange-color);
  color: var(--white-color);
  font-family: var(--body-font-family);
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
}
#plants-part .plants-content .plants-list .plant-item .btn:hover {
  background: #9b4000;
}
/* ================ */

/* Plants Lover Section styles */
#plants-lover-part {
  margin: 200px 0 100px;
}
#plants-lover-part .plants-lover-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
#plants-lover-part .plants-lover-content .left {
  flex: 1;
  position: relative;
}
#plants-lover-part .plants-lover-content .left .badge img {
  width: 286px;
  position: absolute;
  top: -122px;
  right: -105px;
}
#plants-lover-part .plants-lover-content .left img {
  width: 100%;
}
#plants-lover-part .plants-lover-content .right {
  flex: 1;
}
#plants-lover-part .plants-lover-content .right h2 {
  color: var(--title-color);
  font-family: var(--title-font-family);
  font-size: 3rem;
  font-weight: 700;
  padding-right: 20px;
  margin-bottom: 20px;
}
#plants-lover-part .plants-lover-content .right ul.lover-list {
  list-style-type: disc;
  padding-left: 20px;
}
#plants-lover-part .plants-lover-content .right .lover-list li {
  color: var(--pharagraph-color);
  font-family: var(--body-font-family);
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 20px;
}
/* ================= */

/* Latest Deal Section styles */
#latest-deal-part {
  margin: 100px 0;
}
#latest-deal-part .latest-deal-content .latest-deal-list .deal-1 {
  grid-area: deal-1;
}
#latest-deal-part .latest-deal-content .latest-deal-list .deal-2 {
  grid-area: deal-2;
}
#latest-deal-part .latest-deal-content .latest-deal-list .deal-3 {
  grid-area: deal-3;
}
#latest-deal-part .latest-deal-content .latest-deal-list {
  display: grid;
  grid-template-areas:
    'deal-1 deal-3 deal-3'
    'deal-2 deal-3 deal-3';
  gap: 30px;
}
#latest-deal-part .latest-deal-content .latest-deal-list .deal-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#latest-deal-part .latest-deal-content .latest-deal-list .deal-item {
  position: relative;
}
#latest-deal-part .latest-deal-content .latest-deal-list .deal-item .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#latest-deal-part .latest-deal-content .deal-item .overlay-text {
  text-align: center;
}
#latest-deal-part .latest-deal-content .deal-item .overlay-text h3 {
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
#latest-deal-part .latest-deal-content .deal-item .overlay-text a {
  color: var(--white-color);
  font-family: var(--body-font-family);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration-line: underline;
}
#latest-deal-part .latest-deal-content .deal-3 .overlay-text h3 {
  font-size: 2.5rem;
}
#latest-deal-part .latest-deal-content .deal-3 .overlay-text a {
  font-size: 1.5rem;
}

/* =============================== */

/* Join Section styles */
#join-part {
  padding: 200px 0 193px;
  background: url(../assets/news-letter-bg.png) no-repeat center center/cover;
}
#join-part .join-content {
  text-align: center;
}
#join-part .join-content h2 {
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 23px;
}
#join-part .join-content form {
  display: flex;
  justify-content: center;
}
#join-part .join-content form input[type='email'] {
  width: 60%;
  padding: 15px 20px;
  border: none;
  font-family: var(--body-font-family);
  color: var(--pharagraph-color);
  font-size: 1rem;
  font-weight: 400;
}

#join-part .join-content form .btn {
  padding: 15px 50px;
  border: none;
  font-family: var(--body-font-family);
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 400;
  background: var(--orange-color);
  cursor: pointer;
  transition: 0.4s;
}
#join-part .join-content form .btn:hover {
  background: #9b4000;
}
/* =================== */
/* footer styles */
footer {
  padding: 50px 0;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}
footer .footer-content .brand {
  flex: 2;
}
footer .footer-content .footer-menu {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
footer .footer-content .brand p {
  color: var(--pharagraph-color);
  font-family: var(--body-font-family);
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 16px;
}

footer .footer-content .footer-menu li a {
  color: var(--pharagraph-color);
  font-family: var(--body-font-family);
  font-size: 1rem;
  font-weight: 400;
  transition: 0.5s;
}
footer .footer-content .footer-menu li a:hover {
  color: var(--title-color);
  font-weight: 700;
}
footer .footer-content .social-links {
  flex: 1;
}

footer .footer-content .social-links > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
footer .footer-content .social-links a:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
